REDPANDA_BOOTSTRAP_SERVERS=localhost:19092
REDPANDA_TOPIC=client_tickets
TICKET_PRODUCER_INTERVAL=1.0
TICKET_PRODUCER_LIMIT=5
TICKET_CLIENT_COUNT=100

SPARK_OUTPUT_BASE_DIR=data/output
SPARK_CHECKPOINT_DIR=data/checkpoint/ticket_stream_processor
